.page__header {
  // border: solid 2px tomato;
  height: 60px;
  border-bottom: 1px solid var(--head-bb-color);
  @include tablet {
    height: 80px;
  }
}
.main-nav {
  position: relative;
  @extend %flex-align;
  // @include tel {
  //   max-width: 480px;
  // }
}
// @include tablet {
//   max-width: 768px;
// }
// @include desktop {
//   max-width: 1200px;
// }


// .navigation {
//   width: 100%;
// }
// .navigation__btn {
//   position: absolute;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
//   margin-left: auto;
//   width: 40px;
//   height: 40px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: transparent;
//   border: none;
//   @include tablet {
//     display: none;
//   }
// }


// .mob-menu {
//   display: none;
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   min-height: 480px;
//   background-color: #fff;
//   top: 0;
//   left: 0;
//   right: 0;
//   overflow: scroll;
//   z-index: 999;
//   @include tablet  {
//     display: none;
//   }
//   & .container {
//     display: block;
//     position: relative;
//     height: 100%;
//     padding: 48px 40px;
  
//   }
// }
// .mob-navigation__btn {
//   position: absolute;
//   width: 40px;
//   height: 40px;
//   top: 10px;
//   right: 15px;
//   background-color: transparent;
//   border: none;
// }
// .mob-navigation__icons {
// }
// .mob-navigation__icons-cross {
// }
// .mob-navigation__list {
//   list-style: none;
//   @include font(500, 40px, 1.18, 0.02em);
  
  
// }
// .mob-navigation__item:not(:last-child) {
//   margin-bottom: 32px;
// }
// .mob-navigation__link {
//   color: #212121;
// }

// .mob__box {
//   position: absolute;
//   bottom: 48px;
//   margin-top: 15px;
  
// }
// .mob-auth__list {
//   margin-bottom: 64px;
//   list-style: none;
// }
// .mob-auth__item:first-child {
//   margin-bottom: 32px;
// }
// .mob-auth__link-tel {
//   @include font(500, 34px, 1.18, 0.02em);
//   color: #2196F3;
//   text-decoration: none;
// }
// .mob-auth__link-mail {
//   @include font(500, 24px, 1.17, 0.02em);
//   color: #2196F3;
//   text-decoration: none;
//   color: #757575;
// }


// .mob-social__list {
//   display: flex;
//   list-style: none;
// }
// .mob-social__item:not(:last-child)::after {
//   content:'';
//   margin-left: 10px;
//   margin-right: 10px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   transform: rotate(90deg);
// }
// .mob-social__link {
//   color: #2196F3;
//   text-decoration: none;
// }
