.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--hero-bg-color);
  &__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    @include font(900, 44px, 1.36, 0.06em);
    color: var(--third-text-color);
    text-transform: uppercase;
  }
  &__button {
    margin-left: auto;
    margin-right: auto;
  }
  &__button:hover,
  &__button:focus {
    background-color: var(--primary-btn-hover-bg-color);
  }  
}

