.auth {
  // border: solid 2px tomato;
  margin-left: auto;
  @include tel-max {
    display: none;
  }

  &__list {
    list-style: none;
    @include desktop {
       display: flex;
       align-items: center;
    }
  }
  &__item {

  display: flex;
  align-items: center;
  @include font(500, 12px, 1.17, 0.02em);
    color: var(--primery-text-color);
    @include desktop {
      @include font(500, null, 1.14, 0.02em);
      
    }
  }
  &__item:first-child {
    @include tablet {
      margin-bottom: 10px;
    }
    @include desktop {
    margin-right: 30px;
    margin-bottom: 0px;
    
  }
  }
  &__link {
    // padding-top: 5px;
    // padding-bottom: 5px;
    color: var(--primery-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include desktop {
      display: flex;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__link:hover {
  color: var(--accent-color);
  }

  &__icons {
    
    margin-right: 8px;
    fill: currentColor;
    @include desktop {
      margin-right: 10px;   
    }  
  }
}
