.footer-form {
  &__field {
    @include tel {
      max-width: 450px;
    }
    @include tablet {
      margin-left: auto;
      margin-right: auto;
    }
    @include desktop {
      display: flex;
      max-width: 570px;
      margin-right: 0;
      margin-left: auto;
    }
  }
  &__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;
    margin-bottom: 20px;
    @include font(null, 16px, 1.25, 0.03em);

    color: var(--footer-form-input-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    @include desktop {
      width: 358px;
      margin-right: 12px;
    }   
  }
  &__input:focus, 
  &__input:hover {
    outline: transparent;
  }
  &__icon {
    position: relative;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 62px;
    padding-left: 28px;
   width: 100%;
    height: 100%;
    font-family: inherit;
    @include font(700, 16px, 1.88, 0.06em);
    text-align: center;
    color: var(--third-text-color);
    background-color: var(--primary-bg-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer; 
  }
  &__btn-icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--footer-btn-icon-color);
  }
  &__button:focus,
  &__button:hover {
    background-color: var(--primary-btn-hover-bg-color);
  }
  &__icon:focus &__btn-icon,
  &__icon:hover &__btn-icon {
    cursor: pointer;
  }
}
