
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  // width: calc(100%-30px);
  height: auto;
  padding: 40px;
  background-color: var(--modal-bg-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @include tel {
    width: 450px;
  }
  @include desktop {
    width: 528px;
  }
  &__close {
    @extend %flex-align-justify;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    color: var(--modal-close-color);
    background-color: transparent;
    border: 1px solid var(--modal-border-color);
    border-radius: 50%;
  }
  &__icons {
    fill: var(--close-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__close:hover > &__icons,
  &__close:focus > &__icons {
    fill: var(--accent-color);
  }
  &__title {
    margin-bottom: 12px;
    @include font(700, 20px, 1.5, 0.03em);
    text-align: center;
    color: #212121;
    @include desktop {
      @include font(700, 20px, 1.17, 0.03em);
    }
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.2);
  }
}



