.navigation {
  display: flex;
  &__list {
    display: flex;
    margin-left: 87px;
    list-style: none;
    @include tel-max {
      display: none;
    }
    @include desktop {
      margin-left: 93px;
    }
  }
  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    // @include font(500, null, 1.14, 0.02em);
    color: var(--fourth-text-color);
  }
  &__item:not(:first-child) {
    margin-left: 50px;
  }
  &__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
