body {
  font-family: Roboto, sans-serif;
  @include font(400, 14px, null, null);
  color: var(--primary-text-color);
  background-color: var(--primery-bg-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.link {
  @include font(500, null, 1.14, null);
  // color: var(--fourth-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.primary-btn {
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  @include font(700, 16px, 1.88, 0.06em);
  text-align: center;
  color: var(--third-text-color);
  background-color: var(--primary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.title {
  @include font(700, null, null, 0.03em);
}