:root {
  --primery-text-color: #757575;
  --second-text-color: #2196f3;
  --third-text-color: #ffffff;
  --fourth-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --primary-bg-color: #2196f3;
  --second-bg-color: #ffffff;
  --third-bg-color: #f5f4fa;
  --logo-studio-color: hsl(0, 0%, 0%);
  --logo-footer-color: #ffffff;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --head-bb-color: #ececec;
  --primary-btn-hover-bg-color: #188ce8;
  --hero-bg-color: #c4c4c4;
  --work-text-bg-color: rgba(47, 48, 58, 0.8);
  --social-link-color: #afb1b8;
  --second-social-bg-link-color: rgba(255, 255, 255, 0.1);
  --clients-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --footer-form-input-color: rgba(255, 255, 255, 0.6);
  --portfolio-text-bg-color: rgba(33, 150, 243, 0.9);
  --portfolio-border-color: #eeeeee;
  --portfolio-text-scrollbar-bg-color: rgb(169, 169, 169);
  --portfolio-btn-bg-color: #F5F4FA;
  --backdrop-bg-color: rgba(00, 00, 00, 0.2);
  --modal-border-color: rgba(0, 0, 0, 0.1);
  --modal-close-color: rgba(0, 0, 0, 1);
  --close-icon-color: #000000;
  --modal-input-focus-color: rgba(33, 150, 243, 1);
  --policy-link-color: rgb(33, 150, 243);
  --footer-btn-icon-color: #ffffff;
  --modal-bg-color: #ffffff;
}